################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/Bin/
*/Obj/
*/Packages/
*/Dbug/
*/Release/
.vs/
*/bin/**
*/packages/
/packages

# User-specific files 
*.suo 
*.user
*.csproj.user 
*.userosscache 
*.sln.docstates 

# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages/*
**/PublishProfiles/*
**/node_modules/*

# Ignore bower_components
**/bower_components/*

# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# specific files
